{% load static %}<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>College Life Home</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="container">
      <ol class="breadcrumb my-4">
         <li class="breadcrumb-item active">Clubs</li>
      </ol>
      <p>Hello {{ user.username }}!</p>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
             <th>Club Name</th>
             <th>Club Head</th>
             <th>Club Location</th>
          </tr>
        </thead>
        <tbody>
          {% for club in clubs %}
          <tr>
             <td> {{ club.club_name }}
              <small class="text-muted d-block"> {{ club.club_description }} 
              </small>
             </td>
             <td> {{ club.club_head }}     </td>
             <td> {{ club.club_location }} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
          
